.cardImg {
    width: 70px;
    margin-right: 5px;
    margin-left: 5px;
}

.cardList {
    margin: auto;
    display: flex;
    margin: 20px;
}

.cards {
    width: 50vw;
    height: 100px;
    display: flex;
    justify-content: center;
}

.headerText {
    margin: auto;
    margin-right: 10px;
    font-weight: 700;
    width: 200px;
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    
    padding: 10px;
    background: lawngreen;
    border-radius: 15px;
}

.headerPoints {
    margin: auto;
    margin-left: 10px;
    font-weight: 800;
    font-size: 20px;
    width: 200px;
    text-align: center;

    padding: 10px;
    background: lawngreen;
    border-radius: 15px;
}

.choiceButton {
    padding: 20px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: lightgreen;
    font-weight: 700;
    font-size: 20px;
    border: solid 1px gray;
    outline: none;
    width: 200px;
    transition: all .5s;
}

.choiceButton:hover {
    background: rgba(0, 0, 0, 0.9);
}

#choiceContainer {
    justify-content: center;
    display: flex;
    margin: 80px;
    height: 60px;
}

#gameContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.winnerText {
    text-align: center;
    font-weight: 800;
    font-size: 20px;
    border-radius: 20px;
    color: red;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);
}