* {
  padding: 0px;
  margin: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(lightgreen, green);
}


#startGameButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: lightgreen;
  border: solid 1px gray;
  outline: none;
  font-weight: 700;
  font-size: 26px;
  box-shadow: 0px 10px 55px green;
  transition: all 1s;
}

#startGameButton:hover {
  box-shadow: none;
  color: green;
}